body {
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

.container-header {
  background-color: rgb(118, 184, 95);
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-header h2 {
  color: white;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
}

.column-header a {
  color: white;
  font-size: 1.15rem;
  font-family: sans-serif;
  margin-left: 45px;
  text-decoration: none;
}

.page-header h1 {
  font-family: sans-serif;
  font-size: 28px;
}

h1 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.filter-navigation a {
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(118, 184, 95);
  font-size: 16px;
}

.filter-navigation {
  margin-bottom: 50px;
}

.query-text {
  width: 330px;
  font-size: 16px;
  padding: 8px 10px;
  border: solid 1px rgb(194, 194, 194);
  border-radius: 5px;
}

input:focus {
  border-color: rgb(118, 184, 95);
}

.search-bar {
  margin: 15px 0;
}

.search-button {
  border: none;
  background-color: rgb(118, 184, 95);
  color: white;
  padding: 9px 15px;
  font-size: 16px;
  border-radius: 5px;
}

#search-result-list,
#saved-recipes-list,
#created-recipes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result-image img,
.saved-recipe-image img,
.created-recipe-image img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.search-result-title h2,
.saved-recipe-title h2,
.created-recipe-title h2 {
  width: 300px;
  display: inline-block;
  font-family: sans-serif;
  font-weight: medium;
  font-size: 28px;
  text-decoration: none;
  color: black;
  margin: 15px 0 40px 15px;
}

.search-result-title a,
.saved-recipe-title a,
.created-recipe-title a {
  text-decoration: none;
  color: black;
}

.new-recipe-image,
.add-notes-image,
.view-saved-recipe-image,
.view-created-recipe-image,
.create-recipe-image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.ingredients-list {
  width: 90%;
  padding: 0 10px;
  border: solid 1px rgb(178, 206, 178);
  border-radius: 8px;
  background-color: rgb(201, 223, 194);
}

.directions-list {
  width: 100%;
  padding: 0 10px;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 8px;
  background-color: rgb(223, 223, 223);
}

.ingredient p,
.direction p {
  margin: 10px 0;
}

.notes {
  width: 100%;
  border: solid 1px lightgray;
  margin-top: 15px;
}

.recipe-link {
  font-size: 28px;
  display: flex;
}

.overlay {
  background-color: rgb(0 0 0 / 60%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.delete-recipe-modal-wrapper {
  height: 100vh;
  position: relative;
}

.delete-recipe-modal {
  width: 450px;
  height: 200px;
  background-color: white;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

button.clear-filters{
  border: none;
  text-decoration: underline;
  font-family: sans-serif;
  font-weight: 300;
  color: rgb(118, 184, 95);
  font-size: 14px;
}

button:hover {
  cursor: pointer;
}

label {
  font-size: 20px;
  font-family: sans-serif;
}

select {
  border: solid 1px rgb(194, 194, 194);
  border-radius: 5px;
}

.filter-dropdown {
  font-size: 20px;
  width: 50%;
  margin: 10px 0 20px 0;
}

.button-row {
  width: 50%;
}

.save-filters-button {
  border: none;
  background-color: rgb(118, 184, 95);
  color: white;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.green-button {
  border: none;
  background-color: rgb(118, 184, 95);
  color: white;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.white-button {
  border: solid 2px rgb(118, 184, 95);
  background-color: white;
  color: rgb(118, 184, 95);
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.orange-button {
  border: none;
  background-color: rgb(212, 139, 54);
  color: white;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.off-green-button {
  border: none;
  background-color: rgb(161,188,152);
  color: white;
  padding: 7px 13px;
  font-size: 18px;
  border-radius: 5px;
}

.off-green-button:hover {
  cursor: pointer;
}

.cancel-notes-button {
  margin-left: 40px;
}

.options-icon {
  margin: 21px 15px 40px 32px;
}

.options-menu {
  position: absolute;
  top: 245px;
  right: 7px;
  border: solid 2px rgb(161,188,152);
  background-color: white;
  border-radius: 10px;
  width: 95px;
  height: 100px;
}

.options-menu a {
  text-decoration: none;
}

.options-menu p {
  margin: 11px;
  font-family: sans-serif;
  font-weight: bold;
}

#create-directions-list > li,
#create-ingredients-list > li {
  list-style-type: none;
}

.create-directions-list,
.create-ingredients-list {
  margin: 0;
  padding: 0;
}

.create-recipe-input {
  width: 100%;
  height: 2rem;
  margin: 4px 0;
  border-radius: 5px;
  border: solid 2px rgb(201, 223, 194);
}

.create-recipe-textarea {
  width: 100%;
  margin: 4px 0;
  border-radius: 5px;
  border: solid 2px rgb(201, 223, 194);
}

.create-recipe-title,
.create-recipe-image-url {
  margin-bottom: 20px;
}

.add-ingredient-input,
.add-directions-input,
.remove-ingredient-input,
.remove-directions-input {
  color:rgb(118, 184, 95);
  margin: 5px 0;
}

.theme-font-color {
  color: rgb(161,188,152);
}

.warning-font-color {
  color: rgb(212, 139, 54);
}

.margin-zero {
  margin: 0;
}

.margin-center {
  margin-left: 10%;
  margin-right: 10%;
}

.margin-center-five {
  margin-left: 5%;
  margin-right: 5%;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-bottom-sm {
  margin-bottom: 20px;
}

.margin-left {
  margin-left: 20px;
}

.margin-left-small {
  margin-left: 10px;
}

.margin-left-large {
  margin-left: 40px;
}

.margin-right-large {
  margin-right: 40px;
}

.padding-right {
  padding-top: 3px;
  padding-right: 5px;
}

.padding-left {
  padding-left: 25px;
}

.padding-adjust {
  padding: 9px 15px;
}

.relative {
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  .create-recipe-column-a {
    width: 45%;
  }

  .create-recipe-column-b {
    width: 45%;
  }

  .query-text {
  width: 50%;
  font-size: 24px;
  }

  .search-result-item,
  .saved-recipe,
  .created-recipe {
  width: 45%;
  }

  .new-recipe-image,
  .add-notes-image,
  .view-saved-recipe-image {
    width: 50%;
  }

  .view-created-recipe-ingredients {
    width: 55%;
  }

  .view-created-recipe-directions {
    width: 42%;
  }

  .ingredients-list {
    width: 90%;
  }

  .directions-list {
    width: 100%;
  }

  .filter-dropdown,
  .button-row {
    width: 250px;
  }

  .search-button,
  .save-recipe-button,
  .save-notes-button,
  .cancel-notes-button,
  .return-button,
  .return-saved-button,
  .return-created-button,
  .cancel-recipe-button {
    font-size: 24px;
  }

  .cancel-notes-button {
    margin-left: 110px;
  }

  .filter-navigation {
    margin-bottom: 70px;
  }

  .filter-navigation a {
    font-size: 18px;
  }

  label {
    font-size: 24px;
  }

  .margin-left {
    margin-left: 30px;
  }

  .margin-center {
    margin: 0;
  }

  .margin-right {
    margin-right: 20px;
  }
