body {
  background-color: rgb(238, 238, 238);
  position: relative;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
}

body.modal-open {
  overflow: hidden;
  position: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}

h1 {
  font-size: 2rem;
}

button,
textarea,
input {
  font-family: "Noto Sans", sans-serif;
}

.container-header {
  background-color: rgb(118, 184, 95);
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-header h2 {
  color: white;
  margin: 0;
}

.column-header a {
  color: white;
  font-size: 1.15rem;
  margin-left: 45px;
  text-decoration: none;
}

.filter-navigation a {
  text-decoration: none;
  color: rgb(118, 184, 95);
  font-size: 16px;
}

.filter-navigation {
  margin-bottom: 40px;
}

.query-text {
  width: 70%;
  font-size: 16px;
  padding: 8px 10px;
  border: solid 1px rgb(194, 194, 194);
  border-radius: 5px;
}

input:focus {
  border-color: rgb(118, 184, 95);
}

.search-bar {
  margin: 15px 0;
}

.search-button {
  border: none;
  background-color: rgb(118, 184, 95);
  color: white;
  padding: 9px 15px;
  font-size: 16px;
  border-radius: 5px;
}

#search-result-list,
#saved-recipes-list,
#created-recipes-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-result-image img,
.saved-recipe-image img,
.created-recipe-image img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  object-fit: cover;
}

.saved-recipe-title h2,
.created-recipe-title h2 {
  width: 280px;
}

.saved-recipe-title h2,
.created-recipe-title h2,
.search-result-title h2 {
  display: inline-block;
  font-family: "Noto Sans", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  text-decoration: none;
  color: black;
  margin: 10px 0 50px 15px;
}

.search-result-title a,
.saved-recipe-title a,
.created-recipe-title a {
  text-decoration: none;
  color: black;
}

.new-recipe-image,
.add-notes-image,
.view-saved-recipe-image,
.view-created-recipe-image,
.create-recipe-image {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.view-created-recipe-image,
.create-recipe-image {
  height: 300px;
}

.new-recipe-image,
.add-notes-image,
.view-saved-recipe-image {
  height: 330px;
}

.ingredients-list,
.created-recipe-ingredients-list {
  padding: 0 10px;
  border: solid 1px rgb(178, 206, 178);
  border-radius: 8px;
  background-color: rgb(201, 223, 194);
  width: 90%;
}

.created-recipe-ingredients-list h3,
.directions-list h3 {
  margin: 0.6rem 0;
}

.directions-list {
  width: 100%;
  padding: 0 10px;
  border: solid 1px rgb(187, 187, 187);
  border-radius: 8px;
  background-color: rgb(223, 223, 223);
}

.ingredient p,
.direction p {
  margin: 10px 0;
}

.view-saved-recipe-notes h2 {
  text-decoration: underline;
}

.view-saved-recipe-notes p {
  margin-left: 1rem;
}

.notes {
  width: 100%;
  border: solid 1px lightgray;
  margin-top: 15px;
}

.recipe-link {
  font-size: 28px;
  display: flex;
  justify-content: center;
}

.recipe-link a {
  text-decoration: none;
  color: green;
}

.overlay {
  background-color: rgb(0 0 0 / 35%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.delete-recipe-modal-wrapper {
  height: 100vh;
  position: relative;
}

.delete-recipe-modal {
  width: 90%;
  height: 225px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  border: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.delete-created-recipe-modal-wrapper {
  height: 100vh;
  position: relative;
}

.delete-created-recipe-modal {
  width: 90%;
  height: 225px;
  background-color: white;
  border-radius: 5px;
  margin: auto;
  border: 1px solid gray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-header h3 {
  margin: 20px 15px 0;
}

.modal-text {
  margin: 30px 20px;
  font-size: large;
}

.modal-buttons {
  margin: 35px 25px 0;
}

button.clear-filters {
  border: none;
  text-decoration: underline;
  color: rgb(118, 184, 95);
}

button:hover {
  cursor: pointer;
}

label {
  font-size: 20px;
}

select {
  border: solid 1px rgb(194, 194, 194);
  border-radius: 5px;
}

.filter-dropdown {
  font-size: 20px;
  width: 100%;
  margin: 10px 0 20px;
}

.save-filters-button {
  border: none;
  background-color: rgb(118, 184, 95);
  color: white;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.green-button {
  border: none;
  background-color: rgb(118, 184, 95);
  color: white;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.white-button {
  border: solid 2px rgb(118, 184, 95);
  background-color: white;
  color: rgb(118, 184, 95);
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.orange-button {
  border: none;
  background-color: rgb(212, 139, 54);
  color: white;
  padding: 7px 13px;
  font-size: 16px;
  border-radius: 5px;
}

.off-green-button {
  border: none;
  background-color: rgb(161, 188, 152);
  color: white;
  padding: 7px 13px;
  font-size: 18px;
  border-radius: 5px;
}

.off-green-button:hover {
  cursor: pointer;
}

.cancel-notes-button {
  margin-left: 40px;
}

.options-icon {
  margin: 21px 15px 40px 10px;
}

.options-menu {
  position: absolute;
  top: 245px;
  right: 7px;
  border: solid 2px rgb(161, 188, 152);
  background-color: white;
  border-radius: 10px;
  width: 95px;
  height: 100px;
}

.options-menu a {
  text-decoration: none;
}

.options-menu p {
  margin: 0 8px 9px;
  font-weight: bold;
}

#create-directions-list > li,
#create-ingredients-list > li {
  list-style-type: none;
}

.create-directions-list,
.create-ingredients-list {
  margin: 0;
  padding: 0;
}

.create-recipe-input {
  width: 100%;
  height: 2rem;
  margin: 4px 0;
  border-radius: 5px;
  border: solid 2px rgb(201, 223, 194);
}

.create-recipe-textarea {
  width: 100%;
  margin: 4px 0;
  border-radius: 5px;
  border: solid 2px rgb(201, 223, 194);
}

.create-recipe-title,
.create-recipe-image-url {
  margin-bottom: 20px;
}

.add-ingredient-input,
.add-directions-input,
.remove-ingredient-input,
.remove-directions-input {
  color: rgb(118, 184, 95);
  margin: 5px 0;
}

.theme-font-color {
  color: rgb(161, 188, 152);
}

.warning-font-color {
  color: rgb(212, 139, 54);
}

.create-recipe-navigation {
  margin-left: 20px;
}

.margin-zero {
  margin: 0;
}

.margin-center {
  margin: 0;
}

.margin-center-five,
.margin-center-five-mobile {
  margin-left: 5%;
  margin-right: 5%;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-bottom-sm {
  margin-bottom: 25px;
}

.margin-left-small {
  margin-left: 10px;
}

.margin-left-large {
  margin-left: 40px;
}

.margin-right-large {
  margin-right: 40px;
}

.padding-right {
  padding-top: 3px;
  padding-right: 5px;
}

.padding-left {
  padding-left: 25px;
}

.padding-adjust {
  padding: 9px 15px;
}

.relative {
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    height: 100vh;
  }

  .create-recipe-column-a,
  .create-recipe-column-b,
  .search-result-item,
  .saved-recipe,
  .created-recipe {
    width: 45%;
  }

  .query-text {
    width: 50%;
    font-size: 24px;
  }

  .saved-recipe-title h2,
  .created-recipe-title h2 {
    width: 320px;
  }

  .options-icon {
    margin: 21px 15px 40px 10px;
  }

  .delete-recipe-modal,
  .delete-created-recipe-modal {
    width: 450px;
  }

  .modal-text {
    margin: 30px;
    font-size: large;
  }

  .new-recipe-image,
  .add-notes-image,
  .view-saved-recipe-image,
  .ingredients-list {
    width: 60%;
  }

  .view-created-recipe-ingredients,
  .filter-dropdown,
  .filter-row,
  .width-55 {
    width: 55%;
  }

  .view-created-recipe-directions {
    width: 42%;
  }

  .directions-list {
    width: 100%;
  }

  .button-row {
    width: 250px;
  }

  .search-button,
  .save-recipe-button,
  .save-created-recipe-button,
  .save-notes-button,
  .cancel-notes-button,
  .return-button,
  .return-to-search-button,
  .return-saved-button,
  .return-created-button,
  .cancel-recipe-button {
    font-size: 24px;
  }

  .cancel-notes-button {
    margin-left: 110px;
  }

  .filter-navigation {
    margin-bottom: 50px;
  }

  .filter-navigation a {
    font-size: 18px;
  }

  label {
    font-size: 24px;
  }

  .margin-left,
  .create-recipe-navigation {
    margin-left: 30px;
  }

  .margin-center-five-mobile {
    margin: 0;
  }

  .margin-center {
    margin-left: 4rem;
  }

  .margin-right {
    margin-right: 20px;
  }
}
